[Unit]
Description=Property Service
After=basic.target

[Service]
User=system
AmbientCapabilities=CAP_DAC_OVERRIDE
CapabilityBoundingSet=CAP_DAC_OVERRIDE
ExecStart=/usr/bin/propertyserver
Restart=always

[Install]
WantedBy=multi-user.target

